<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style1.css">
    
</head>
<body>


  <div class="top-right-content">
    <p>Welcome Neha Sony</p>
    
  </div>
</div>
    <!-- The sidebar -->
<div class="sidebar">
  <a class="active" href="#home">  <i class="fa fa-home" style="margin-right: 10px;"></i>Dashboard</a>
  <a href="#news"><i class="fa fa-product-hunt" style="margin-right: 10px;" aria-hidden="true"></i>Products</a>
  <a href="#contact"><i class="fa fa-list" style="margin-right: 10px;" aria-hidden="true"></i>Category</a>
  <a href="#about"><i class="fa fa-users" style="margin-right: 10px;" aria-hidden="true"></i>Customers</a>
  <a href="#about"><i class="fa fa-bars" style="margin-right: 10px;" aria-hidden="true"></i>Orders</a>
  <a href="#about"><i class="fa fa-line-chart" style="margin-right: 10px;" aria-hidden="true"></i>Sales</a>
  <a href="#about"><i class="fa fa-sign-out" style="margin-right: 10px;" aria-hidden="true"></i>Sales</a>
</div>
<div class="table-container content">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stock </th>
          <th>Price</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          
          
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  