<%- include('header') -%>
<div style="height: 200px; background-image: url(/images/banner2copy.jpg);">
    <!-- <img src="/images/banner2copy.jpg" >  -->
    <h4 style="align-items: center; justify-content: center; text-align: center; padding-top: 80px;"> ABOUT US
</h4></div>
<div style="margin-top: 20px; height: 200px; justify-content: center;align-items: center; text-align: center;">
    <p>At Impress, our aim is to offer you good quality products that show you that we really care! Not only have we got the trendiest designs, but we can also guarantee that they are of the finest quality.

        We started as a small business in Cherpuzha, and our aim is to continue providing our customers with products that keep them happy, at prices that keep them happy.  
        
        Our customers are our top priority and through our products we work hard towards building long-lasting and meaningful relations with them.</p>
</div>
<%- include('footer') -%>