<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <%- include('header') -%>
    <style>
        body {
            /* Adjust body styles if needed */
            background-color: rgb(243, 242, 242);
        }

        .centered-content {
            /* Flexbox styles to center content vertically and horizontally */
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .form-box {
             
            width: 600px;
            height: 400px;
            padding: 20px;
            background-color: #c28787;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }
    </style>
</head>
<body>
    <!-- Centered content -->
    <div class="centered-content">
        <div class="form-box" >
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">
                    <form action="/request-otp" id="register-form" role="form" autocomplete="on" class="form" method="post">
                        <div class="form-group">
                            <% if (error) { %>
                                <p style="color: red;"><%= error %></p> 
                              <% } %>
                            <div class="input-group">
                                <input id="email" name="email" placeholder="Email address" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <input name="recover-submit" class="btn btn-lg btn-success btn-block" value="Request Otp" type="submit">
                        </div>
                        <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->
<%- include('footer') -%>