<%- include('header') -%>

<section class="vh-100">
  <div class="container h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-5 col-xl-4">
        <img src="/images/login-removebg-preview.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-5 offset-lg-1">
        <div class="divider d-flex align-items-center my-3">
          <h2>Login Here</h2>
        </div>
        <form id="loginForm" action="/login" method="POST">
          <% if (error) { %>
            <p style="color: red;"><%= error %></p> 
          <% } %>
          <div class="form-outline mb-3">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter email" name="email">
            <p id="emailError" class="error-message"></p>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" class="form-control form-control-lg" placeholder="Enter password" name="password">
            <p id="passwordError" class="error-message"></p>
          </div>
          <a href="/forgetpass"> <p class="small fw-bold mt-2 pt-1 mb-0" style="color: brown;">Forgot Password</p></a>
          <div class="text-center text-lg-start mt-3 pt-2">
            <button type="button" onclick="validateLoginForm()" class="btn btn-primary btn-lg" style="padding-left: 2rem; padding-right: 2rem;">Login</button>
          </div>
        </form>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup" class="link-danger">Register</a></p>
      </div>
    </div>
  </div>
</section>


 <script>
  function validateLoginForm() {
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const emailError = document.getElementById('emailError');
    const passwordError = document.getElementById('passwordError');
    let isValid = true;

    emailError.textContent = '';
    passwordError.textContent = '';

    if (!email.trim()) {
      emailError.textContent = 'Email is required';
      emailError.style.color = 'red'; 
      isValid = false;
    }

    if (!password.trim()) {
      passwordError.textContent = 'Password is required';
      passwordError.style.color = 'red'; 
      isValid = false;
    }

    if (isValid) {
      document.getElementById('loginForm').submit(); 
    }
  }
</script>


<%- include('footer') -%>
