<%- include('header')-%>
<div style="height: 50px;"> </div>
<div class="d-flex justify-content-center align-items-center container1" style="height: 800px;">
    <form action="/home" method="post">
    <div class="card py-5 px-3 card1 " style="margin-bottom: 40px; width: 400px; max-width: 80vw;height: 400px;" >
        <% if (typeof err !== 'undefined' && err) { %>
            <p style="color: red;"><%= err %></p>
          <% } %>
        <h5 class="m-0">Email verification</h5><span class="mobile-text">Enter the code we just send to your Email <br><b class="text-danger"></b></span>
      
        <div class="d-flex flex-row mt-5">
            <input type="text" class="form-control" name="otp1" autofocus="">
            <input type="text" class="form-control" name="otp2">
            <input type="text" class="form-control" name="otp3">
            <input type="text" class="form-control" name="otp4"></div>
        <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px;">Submit</button>
       

        <!-- Resend OTP button -->
        <a href="/resend-otp">
        <button type="button" class="btn btn-link mt-3" id="resendOtpBtn">Resend OTP</button></a>
       
</form>
</div>

<script>
    $(document).ready(function(){
        
        $('.form-control').keyup(function(){
           
            var inputs = $(this).val();
    
         
            if(inputs.length === 1){
               
                $(this).next('.form-control').focus();
            }
        });
    });
    
   

    </script>
    

<%- include('footer') -%>