<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment success</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">




  
  </head>
  <body>
 <!-- <header class="intro">
 <h1> Bootstrap 5 Checkout Form Example </h1>
 <p> A checkout form page with Bootstrap native input fields.</p>

 <div class="action">
 <a href="https://www.codehim.com/bootstrap/bootstrap-forms/bootstrap-5-checkout-form-page/" title="Back to download and tutorial page" class="btn back">Back to Tutorial</a>
 
 </div>
 
 </header> -->
  <%- include("header") -%>

 
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" style="height: 400px;">
                <div class="card-body text-center">
                    <img src="/images/success.webp" style="height: 100px;width: 100px;">
                    <h2 class="card-title mt-5">Order Placed Successfully!</h2>
                    <p class="card-text">Thank you for your purchase.</p>
                    <a href="/" class="btn btn-primary mt-5">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
<%- include("footer") -%>