<%- include('header') -%>

<div style="display: flex; justify-content: center; align-items: center; height: auto; padding: 20px;">
    <div style="max-width: 80%; text-align: left; border: 1px solid #ccc; padding: 20px; background-color: #f9f9f9;">
<p>
<h4>Return and Refund Policy</h4><br>

At Impress, we strive to ensure your complete satisfaction with your purchases. 
If for any reason you are not entirely pleased with your order,
 we offer a straightforward return and refund policy to make the process as smooth as possible.<br><br>

<h5>Returns</h5>

We accept returns within [number of days, e.g., 30 days] from the date of purchase. 
To be eligible for a return, the item must be unused, unworn, and in the same condition as received, 
with all original tags and packaging intact.
<br><br>
Please note the following guidelines for returns:
<br><br>
<ul>
    <li> returns must be accompanied by the original receipt or proof of purchase.</li>
<li>Returns made within the specified return period will be eligible for a refund to the original payment method or store credit.</li>
<li>Items purchased on sale or during promotional periods may be subject to different return conditions, 
which will be clearly communicated at the time of purchase.</li>
</ul><br>
<h5>Refunds</h5>

Once your return is received and inspected, we will send you an email notification to inform you of the approval or 
rejection of your refund. If approved, the refund will be processed, and a credit will automatically be applied to your
 original method of payment within [number of days, e.g., 5-7 business days]. Please note that shipping costs are non-refundable.
 <br><br>
<h5>Exchanges</h5>

If you need to exchange an item for a different size or color, please contact us at [contact information] to arrange the exchange.
 We will do our best to accommodate your request, depending on product availability.
 <br><br>
<h5>Damaged or Defective Items</h5>

In the rare event that you receive a damaged or defective item, please contact us immediately at [contact information]
 with details and photos of the issue. We will assist you in resolving the matter promptly by offering a replacement, exchange, 
 or refund.
</div>
</div>
 </p>
</p>
<%-include('footer') -%>