<%- include('header')-%>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <div class="container">
            <div class="row m-5 justify-content-center">
              <div class="col-md-6 bg-white p-5 shadow-lg">
                <h3 class="pb-3 text-center">Sign Up Form</h3>
                
                <div class="form-style">
                  <form action="/signup" method="post" id="form">
                    <div class="form-group pb-3">
                      <input type="text" name="name" placeholder="Name" class="form-control" id="name" aria-describedby="nameHelp">
                      <p id="nameError"></p>
                    </div>
                    <div class="form-group pb-3">
                      <input type="email" name="email" placeholder="Email" class="form-control" id="email" aria-describedby="emailHelp" >
                      <%if(locals.err){%>
                        <p style="color: red;"><%=err%></p>
                      <%}%>
                      <p id="emailError"></p>
                    </div>
                    <div class="form-group pb-3">
                      <input type="password" name="password" placeholder="Password" class="form-control" id="password">
                      <p id="passwordError"></p>
                    </div>
                    <div class="form-group pb-3">
                      <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control" id="confirmPassword">
                      <p id="confirmPasswordError"></p>
                      <p style="color: green;">Your password must contain at least one lowercase letter,one uppercase,one digit,one symbol and minimum 8 characters</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                      <!-- <div class="d-flex align-items-center">
                        <input name="" type="checkbox" value="" /> <span class="pl-2 font-weight-bold">Remember Me</span>
                      </div> -->
                   
                    </div>
                    <div class="pb-2">
                      <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Sign Up</button>
                    </div>
                  </form>
                  <!-- <div class="sideline">OR</div> -->
                  <!-- <div>
                    <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2"><i class="fa fa-google" aria-hidden="true"></i> Sign Up With Google</button>
                  </div> -->
                  <div class="pt-4 text-center">
                    Already have an account? <a href="/login">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <script>
        
            // form validation
            function isEmpty(value){
              const trimmed = value.trim()
              return trimmed===""
            }
        
            function isValidName(value) {
              const regex = /^[a-zA-Z\s]+$/;  
              return regex.test(value);
           }
            
            function isValidEmail(value){
              const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
              return regex.test(value)
            }
        
            // password validation
            function isValidPassword(value){
              const regex =  /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
              return regex.test(value)
            }
        
            // confirm password
            function isEqualPassword(value1,value2){
              if(value1===value2){
                return true
              }
            }
        
            document.querySelector('#form').addEventListener('submit',function(event){
              
              // name things
              var nameInput = document.querySelector('#name')
              var nameValue = nameInput.value
              var nameError = document.querySelector('#nameError')
        
              //email things
              var emailInput = document.querySelector('#email')
              var emailValue = emailInput.value
              var emailError = document.querySelector('#emailError')
        
              //password things
              var passwordInput = document.querySelector('#password')
              var passwordValue = passwordInput.value
              var passwordError = document.querySelector('#passwordError')
        
              //confirmpassword things
              var confirmPasswordInput = document.querySelector('#confirmPassword')
              var confirmPasswordValue = confirmPasswordInput.value
              var confirmPasswordError = document.querySelector('#confirmPasswordError')
        
              nameError.textContent=""
              emailError.textContent=""
              passwordError.textContent=""
              confirmPasswordError.textContent=""
        
        
              if(isEmpty(nameValue)){
                nameError.textContent="please enter valid name"
                nameError.style.color="red"
                event.preventDefault()
              }
              if(isEmpty(emailValue)){
                emailError.textContent="please enter valid email"
                emailError.style.color="red"
                event.preventDefault()
              }
              if(isEmpty(passwordValue)){
                passwordError.textContent="please enter valid password"
                passwordError.style.color="red"
                event.preventDefault()
              }
              if(isEmpty(confirmPasswordValue)){
                confirmPasswordError.textContent="both passwords are not match"
                confirmPasswordError.style.color="red"
                event.preventDefault()
              }
        
              if(!isValidName(nameValue)){
                nameError.textContent="only use alphabets"
                nameError.style.color="red"
                event.preventDefault()
              }
              if(!isValidEmail(emailValue)){
                emailError.textContent="please enter valid email"
                emailError.style.color="red"
                event.preventDefault()
              }
              if(!isValidPassword(passwordValue)){
                passwordError.textContent="Your password must contain At least one lowercase letter,one uppercase,one digit,one symbol,minimum 8 characters "
                passwordError.style.color="red"
                event.preventDefault()
              }
              if(!isEqualPassword(passwordValue,confirmPasswordValue)){
                confirmPasswordError.textContent="both passwords are not matching"
                confirmPasswordError.style.color="red"
                event.preventDefault()
              }
        
        g
            })
        
        
          </script>
          
          <%- include('footer')-%>