<%-include('header')  -%>
<div style="display: flex; justify-content: center; align-items: center; height: auto; padding: 20px;">
    <div style="max-width: 80%; text-align: left; border: 1px solid #ccc; padding: 20px; background-color: #f9f9f9;">
    
       <h5> Washing Instructions for Dresses</h5>

        <h6>To ensure the longevity and preservation of your dress, please follow these washing instructions:</h6>
        <ol>
       <li> Read the Care Label: Before washing, always refer to the care label attached to the garment for specific washing guidelines and fabric composition.</li>
        <br>
       <li> Hand Wash or Machine Wash: Follow the recommended method indicated on the care label. Some dresses may be suitable for machine washing on a gentle cycle,
         while others may require hand washing.</li>
         <br>
       <li> Water Temperature: Use cold or lukewarm water to wash your dress, as hot water can cause certain fabrics to shrink or lose color.</li>
       <br>
        <li> Use Mild Detergent: Use a gentle, mild detergent specifically designed for delicate fabrics to preserve the dress's quality.</li>
        <br>
        <li> Turn Inside Out: Turn the dress inside out before washing to protect embellishments, prints, or delicate details.</li>
        <br>
        <li> Avoid Bleach and Harsh Chemicals: Do not use bleach or harsh chemicals on your dress, as they can damage the fabric and color.</li>
        <br>
        <li> Wash Similar Colors Together: Wash the dress with similar colors to prevent color bleeding or transfer.</li>
        <br>
        <li> Hand Dry or Line Dry: Gently squeeze excess water from the dress without wringing and then either lay it flat to air dry or hang it on a 
            padded hanger away from direct sunlight.</li>
            <br>
        <li> Ironing: Follow the care label instructions regarding ironing. Some dresses may require low-temperature ironing or steam ironing to remove wrinkles.</li>
        <br>
        <li> Dry Cleaning: For dresses labeled as "Dry Clean Only," it is recommended to take them to a professional dry cleaner for proper care.</li>
        <br>
        <li> Storage: Store your dress in a cool, dry place away from direct sunlight to prevent fading or damage.</li>
    </ol>
      <b>  Note:</b>These are general washing instructions. Always refer to the specific care label instructions provided with the dress for the most accurate and suitable washing guidelines.
        
        
    </div> 
</div>  

<%-include('footer')  -%>