<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/images/copy-removebg-preview.png" alt="" width="40%" height="40%">
              </a>
            </div>
          </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About Us</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link active" href="/index#impresskidssection" tabindex="-1" aria-disabled="true">Impress Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contactus" tabindex="-1" aria-disabled="true">Reach Us</a>
          </li>
        </ul>
        
       
         <div class="collapse navbar-collapse" id="navbarScroll">
          <form class="d-flex ms-auto"> 
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a href="/login" class="btn btn-link">
              <i class="fa fa-user text-dark" aria-hidden="true" style="font-size: 24px; margin-right: 20px; margin-left: 10px;"></i>
          </a>
          <i class="fa fa-heart" aria-hidden="true" style="font-size: 24px; margin-right: 20px;"></i>
          <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 24px; margin-right: 20px;"></i>
      </div>
      
        
    </div>
  </nav>
